03-WEEK_1-DAY_3-XML-XSD-XPATH/Movies_salami_slice.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.esempio.it/movies"
	xmlns:mov="http://www.esempio.it/movies"
	xmlns:per="http://www.esempio.it/person"
	elementFormDefault="qualified">

	<xs:import namespace="http://www.esempio.it/person" schemaLocation="PersonType.xsd"/>

	<xs:element name="movies" type="mov:MoviesType"/>
	<xs:complexType name="CastType">
		<xs:sequence>
			<xs:element name="actor" type="per:personType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MovieType">
		<xs:sequence>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="director" type="per:personType"/>
			<xs:element name="cast" type="mov:CastType"/>
			<xs:element name="production" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="length" type="xs:duration"/>
		</xs:sequence>
		<xs:attribute name="year" type="xs:gYear"/>
	</xs:complexType>

	<xs:complexType name="MoviesType">
		<xs:sequence>
			<xs:element name="movie" type="mov:MovieType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	

</xs:schema>