03-WEEK_1-DAY_3-XML-XSD-XPATH/PersonType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.esempio.it/person"
xmlns:per="http://www.esempio.it/person"
elementFormDefault="qualified">
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="surname" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>